{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel=" icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
{% endblock %}

{% block branding %}
<h1 id="Odify Administration">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'logo.png' %}" height="60px" />
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}